<section>
  <h1>jewelery</h1>
  <div *ngFor="let product of (jeweleryProducts$ | async)">
    <h3>{{product.id}}</h3>
    <h3>{{product.title}}</h3>
    <h5>{{product.price}}</h5>
    <img [ngSrc]="product.image" alt="" width="100" height="100">
    <p>{{product.description}}</p>
  </div>
  <br>
  <hr>
  <br>
  <h1>Electronics</h1>
  <div *ngFor="let product of (electronicsProducts$ | async)">
    <h3>{{product.id}}</h3>
    <h3>{{product.title}}</h3>
    <h5>{{product.price}}</h5>
    <img [ngSrc]="product.image" alt="" width="100" height="100">
    <p>{{product.description}}</p>
  </div>
</section>
